/*=============================================
=                FormElement                  =
=============================================*/

.formElement {
  width: 100%;
  display: flex;
  gap: var(--kui-spacing-2xs);
}

/*=====      End of FormElement        ======*/
