.kui-table {
  width: 100%;
  border: 1px solid #525252;
  border-collapse: collapse;
}

.kui-thead {
  background-color: #464646;
  color: white;
  width: 100%;
}

.kui-body {
  text-align: center;
}

.kui-tr {
  border: 1px solid #525252;
}

.kui-th {
  border: 1px solid #525252;
  padding-block: 0.5rem;
}

.kui-td {
  text-align: center;
  padding: 0.25rem;
  padding-block: 0.5rem;
  border: 1px solid #525252;
}
