/*=============================================
=                    Label                    =
=============================================*/

.label {
  font-size: var(--Oui-text-base);
  color: light-dark(var(--Oui-neutral-900), var(--Oui-neutral-50));
  font-weight: 500;

  &[data-required="true"]::after {
    content: "*";
    color: var(--Oui-danger-600);
    margin-left: var(--Oui-spacing-xs);
  }

  &[data-error="true"] {
    color: var(--Oui-danger-600);
  }
}

/*=====            End of Label        ======*/
