/*=============================================
=                     Group                   =
=============================================*/

.group {
  display: flex;
}

/*=====            End of Group        ======*/
