/*=============================================
=                 Context Menu                =
=============================================*/

.kui-contextMenu-Container {
  background-color: gray;
}

.kui-contextMenu {
  position: absolute;
  background-color: #fff;
  width: max-content;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);

  @media (prefers-color-scheme: dark) {
    & {
      background-color: red;
    }
  }
}

.kui-contextMenu-Item {
  position: relative;
  border: unset;
  background-color: unset;
  width: 100%;

  display: flex;
  align-items: center;
  gap: 10px;
  padding-inline-end: 10px;

  color: blue;
  font-size: 0.9rem;
  font-weight: 400;

  &:hover {
    cursor: pointer;
    background-color: lightblue;
  }

  @media (prefers-color-scheme: dark) {
    & {
      color: lightgray;
    }

    &:disabled {
      background-color: cyan;
      color: yellow;
      cursor: not-allowed;
    }

    &:not(:disabled):hover {
      background-color: pink;
    }
  }
}

.kui-contextMenu-ItemIcon {
  min-width: 35px;
  /* aspect-ratio: 1/1; */
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: green;
}

.kui-contextMenu_separator_container {
  position: relative;
  display: flex;
}

.kui-contextMenu_separator {
  height: 0.5px;
  margin-block: 8px;
  width: 100%;
  margin-inline: 10px;
  margin-block: 0px;
  background-color: aqua;
}

.kui-contextMenu_separator_icon {
  min-width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: navy;
}

.kui-contextMenu_group_title {
  font-size: 0.5rem;
  color: red;
  padding-inline: 10px;
  padding-top: 4px;
}
/*=====        End of Context Menu      ======*/
