/*=============================================
=                 DataTable                   =
=============================================*/

.kui-table-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

/*=====         End of DataTable        ======*/
