/*=============================================
=                 DataTable                   =
=============================================*/

.Ouitable-head {
  display: flex;
  gap: var(--kui-spacing-md);
  justify-content: space-between;
  margin-bottom: var(--kui-spacing-xs);
}

.Ouitable-head-section {
  display: flex;
  align-items: center;
  column-gap: var(--kui-spacing-sm);
}

.Ouitable-head_sh_label {
  display: flex;
  gap: var(--kui-spacing-xs);
}

.table-actions-container {
  display: flex;
  gap: var(--kui-spacing-xs);
}
/*=====         End of DataTable        ======*/
