/*=============================================
=                 DataTable                   =
=============================================*/

.kui-table-head {
  display: flex;
  gap: var(--kui-spacing-md);
  justify-content: space-between;
  margin-bottom: var(--kui-spacing-xs);
}

.kui-table-footer-section,
.kui-table-head-section {
  display: flex;
  align-items: center;
  column-gap: var(--kui-spacing-sm);
}

.kui-table-head_sh_label {
  display: flex;
  gap: var(--kui-spacing-xs);
}

.table-actions-container {
  display: flex;
  gap: var(--kui-spacing-xs);
}

.table-footer {
  margin-top: var(--kui-spacing-sm);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-pagination-message {
  text-wrap: nowrap;

  & strong {
    font-weight: 700;
  }
}
/*=====         End of DataTable        ======*/
