:root {
  /* Primary Color */
  --Oui-primary-50: #fbf6fd;
  --Oui-primary-100: #f6ecfb;
  --Oui-primary-200: #ecd8f6;
  --Oui-primary-300: #deb9ee;
  --Oui-primary-400: #cc8fe3;
  --Oui-primary-500: #b364d1;
  --Oui-primary-600: #9141ac;
  --Oui-primary-700: #7f3695;
  --Oui-primary-800: #692e7a;
  --Oui-primary-900: #5a2a65;

  /* Success Color */
  --Oui-success-50: #eafee7;
  --Oui-success-100: #d1fbcc;
  --Oui-success-200: #a6f89e;
  --Oui-success-300: #6ff066;
  --Oui-success-400: #2ae120;
  --Oui-success-500: #1fca18;
  --Oui-success-600: #12a10f;
  --Oui-success-700: #107b10;
  --Oui-success-800: #136113;
  --Oui-success-900: #155217;

  /* Neutral Color */
  --Oui-neutral-50: #ffffff;
  --Oui-neutral-100: #efefef;
  --Oui-neutral-200: #dcdcdc;
  --Oui-neutral-300: #bdbdbd;
  --Oui-neutral-400: #989898;
  --Oui-neutral-500: #7c7c7c;
  --Oui-neutral-600: #656565;
  --Oui-neutral-700: #525252;
  --Oui-neutral-800: #464646;
  --Oui-neutral-900: #3d3d3d;
  --Oui-neutral-950: #000000;

  /* Danger Color */
  --Oui-danger-50: #fff0f0;
  --Oui-danger-100: #ffdddd;
  --Oui-danger-200: #ffc0c0;
  --Oui-danger-300: #ff9494;
  --Oui-danger-400: #ff5757;
  --Oui-danger-500: #ff2323;
  --Oui-danger-600: #ff0000;
  --Oui-danger-700: #d70000;
  --Oui-danger-800: #b10303;
  --Oui-danger-900: #920a0a;

  /* Warning Color */
  --Oui-warning-50: #fff9ec;
  --Oui-warning-100: #fff0d3;
  --Oui-warning-200: #ffdea5;
  --Oui-warning-300: #ffc66d;
  --Oui-warning-400: #ffa132;
  --Oui-warning-500: #ff840a;
  --Oui-warning-600: #e66100;
  --Oui-warning-700: #cc4d02;
  --Oui-warning-800: #a13c0b;
  --Oui-warning-900: #82330c;
}
