:root {
  /* Text Sizing */
  --Oui-text-xs: 0.5rem;
  --Oui-text-sm: 0.75rem;
  --Oui-text-base: 1rem;
  --Oui-text-medium: 1.125rem;
  --Oui-text-lg: 1.5rem;
  --Oui-text-xl: 2.75rem;
  --Oui-text-2xl: 4rem;
}
