:root {
  /* Text Sizing */
  --kui-text-xs: 0.5rem;
  --kui-text-sm: 0.75rem;
  --kui-text-base: 1rem;
  --kui-text-medium: 1.125rem;
  --kui-text-lg: 1.5rem;
  --kui-text-xl: 2.75rem;
  --kui-text-2xl: 4rem;
}
