/*=============================================
=                     Menu                    =
=============================================*/

button {
  border: unset;
  background: unset;
}

.kui-menu {
  position: relative;
  width: max-content;
  text-align: left;
}

.kui-menu_target {
  border: unset;
  background-color: light-dark(
    --var(--kui-neutral-600),
    var(--kui-neutral-200)
  );
}

.kui-menu_dropdown {
  width: max-content;
  position: absolute;
  background: light-dark(var(--kui-neutral-50), var(--kui-neutral-700));
  color: light-dark(var(--kui-neutral-900), var(--kui-neutral-50));
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 4px;
  box-shadow: 1px 1px 2px
    light-dark(var(--kui-neutral-400), var(--kui-neutral-700));
}

.kui-menu_item {
  font-size: 0.9rem;
  font-weight: 400;
  display: flex;
  gap: 4px;
  &:hover {
    cursor: pointer;
  }
}

.kui-menu_label {
  font-size: 0.75rem;
}

.kui-menu_divider {
  height: 1px;
  width: 100%;
  background-color: light-dark(var(--kui-neutral-800), var(--kui-neutral-200));
  border: unset;
}

/*=====            End of Menu         ======*/
