/*=============================================
=                     Menu                    =
=============================================*/

button {
  border: unset;
  background: unset;
}

.Ouimenu {
  position: relative;
  width: max-content;
  text-align: left;
}

.Ouimenu_target {
  border: unset;
  background-color: light-dark(
    --var(--Oui-neutral-600),
    var(--Oui-neutral-200)
  );

  &:hover {
    cursor: pointer;
  }
}

.Ouimenu_dropdown {
  width: max-content;
  position: absolute;
  background: light-dark(var(--Oui-neutral-50), var(--Oui-neutral-700));
  color: light-dark(var(--Oui-neutral-900), var(--Oui-neutral-50));
  padding: var(--Oui-spacing-sm);
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 4px;
  box-shadow: 2px 2px 6px light-dark(var(--Oui-neutral-100), transparent);
  border: 1px solid light-dark(var(--Oui-neutral-200), var(--Oui-neutral-700));
  z-index: 1000;
  border-radius: calc(var(--Oui-rounded) * 1rem);
}

.Ouimenu_item {
  font-size: 0.9rem;
  font-weight: 400;
  display: flex;
  gap: 6px;

  &:not(:first-child) {
    margin-top: var(--Oui-spacing-sm);
  }

  &:hover {
    cursor: pointer;
  }
}

.Ouimenu_label {
  font-size: 0.75rem;
}

.Ouimenu_divider {
  height: 1px;
  width: 100%;
  margin-block: var(--Oui-spacing-sm);
  background-color: light-dark(var(--Oui-neutral-800), var(--Oui-neutral-200));
  border: unset;
}

/*=====            End of Menu         ======*/
