/*=============================================
=                     Menu                    =
=============================================*/

button {
  border: unset;
  background: unset;
}

.kui-menu {
  position: relative;
  width: max-content;
  text-align: left;
}

.kui-menu_target {
  border: unset;
  background-color: light-dark(
    --var(--kui-neutral-600),
    var(--kui-neutral-200)
  );
}

.kui-menu_dropdown {
  width: max-content;
  position: absolute;
  background: light-dark(var(--kui-neutral-50), var(--kui-neutral-700));
  color: light-dark(var(--kui-neutral-900), var(--kui-neutral-50));
  padding: var(--kui-spacing-sm);
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 4px;
  box-shadow: 2px 2px 6px light-dark(var(--kui-neutral-100), transparent);
  border: 1px solid light-dark(var(--kui-neutral-100), var(--kui-neutral-800));
}

.kui-menu_item {
  font-size: 0.9rem;
  font-weight: 400;
  display: flex;
  gap: 4px;

  &:not(:first-child) {
    margin-top: var(--kui-spacing-xs);
  }

  &:hover {
    cursor: pointer;
  }
}

.kui-menu_label {
  font-size: 0.75rem;
}

.kui-menu_divider {
  height: 1px;
  width: 100%;
  background-color: light-dark(var(--kui-neutral-800), var(--kui-neutral-200));
  border: unset;
}

/*=====            End of Menu         ======*/
