/*=============================================
=                     Menu                    =
=============================================*/

button {
  border: unset;
  background: unset;
}

.menu {
  position: relative;
  width: max-content;
  text-align: left;
}

.menu_target {
  border: unset;
  /* background-color: light-dark(var(--kui-neutral-200), var(--kui-neutral-700)); */

  &:hover {
    cursor: pointer;
  }
}

.menu_dropdown {
  width: max-content;
  position: absolute;
  background: light-dark(var(--kui-neutral-50), var(--kui-neutral-700));
  color: light-dark(var(--kui-neutral-900), var(--kui-neutral-50));
  padding: var(--kui-spacing-sm);
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 4px;
  box-shadow: 2px 2px 6px light-dark(var(--kui-neutral-100), #181818);
  border: 1px solid light-dark(var(--kui-neutral-200), var(--kui-neutral-700));
  z-index: 1000;
  border-radius: calc(var(--kui-rounded) * 1rem);
}

.menu_item {
  font-size: 0.9rem;
  font-weight: 400;
  display: flex;
  gap: 6px;

  &:not(:first-child) {
    margin-top: var(--kui-spacing-sm);
  }

  &:hover {
    cursor: pointer;
  }
}

.menu_label {
  font-size: 0.75rem;
}

.menu_divider {
  height: 1px;
  width: 100%;
  margin-block: var(--kui-spacing-sm);
  background-color: light-dark(var(--kui-neutral-800), var(--kui-neutral-200));
  border: unset;
}

/*=====            End of Menu         ======*/
