/*=============================================
=                    Input                    =
=============================================*/

.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Oui-spacing-2xs);
}

.input-inner {
  display: flex;
  align-items: stretch;
  width: 100%;
}

.input {
  padding: var(--Oui-spacing-xs) var(--Oui-spacing-sm);
  border: solid 0.5px light-dark(var(--Oui-neutral-200), var(--Oui-neutral-700));
  background-color: light-dark(var(--Oui-neutral-100), var(--Oui-neutral-800));
  font-size: var(--Oui-text-base);
  flex: 1 1 0%;
  border-radius: calc(var(--Oui-rounded) * 1rem);

  &::placeholder {
    color: light-dark(var(--Oui-neutral-200), var(--Oui-neutral-700));
  }

  &:focus,
  &:focus-visible {
    outline: unset;
    border-color: var(--Oui-primary-600);
  }

  &[data-error="true"] {
    background-color: var(--Oui-danger-100);
    border: 0.5px solid var(--Oui-danger-600);
    color: var(--Oui-danger-600);

    &::placeholder {
      color: var(--Oui-danger-400);
    }
  }
}

.error-message {
  color: var(--Oui-danger-500);
  font-size: var(--Oui-text-sm);
}

/*=====            End of Input        ======*/
