/*=============================================
=                    Input                    =
=============================================*/

.formElement {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--kui-spacing-2xs);
}

.label {
  font-size: var(--kui-text-base);
  color: light-dark(var(--kui-neutral-900), var(--kui-neutral-50));
  font-weight: 600;

  &[data-required="true"]::after {
    content: "*";
    color: var(--kui-danger-600);
    margin-left: var(--kui-spacing-xs);
  }

  &[data-error="true"] {
    color: var(--kui-danger-600);
  }
}

.input-container {
  display: flex;
  align-items: stretch;
  width: 100%;
}

.input {
  padding: var(--kui-spacing-xs) var(--kui-spacing-sm);
  border: solid 0.5px light-dark(var(--kui-neutral-600), var(--kui-neutral-700));
  background-color: light-dark(var(--kui-neutral-100), var(--kui-neutral-800));
  font-size: var(--kui-text-base);
  flex: 1 1 0%;

  &::placeholder {
    color: var(--kui-neutral-400);
  }

  &:focus,
  &:focus-visible {
    outline: unset;
    border-color: var(--kui-primary-600);
    border-radius: 0;
  }

  &[data-error="true"] {
    background-color: var(--kui-danger-100);
    border: 0.5px solid var(--kui-danger-600);

    &::placeholder {
      color: var(--kui-danger-400);
    }
  }
}

.error-message {
  color: var(--kui-danger-500);
  font-size: var(--kui-text-sm);
}

/*=====            End of Input        ======*/
