/*=============================================
=                ErrorBoundary                =
=============================================*/

.error-text {
  font-size: var(--Oui-text-base);
  color: var(--Oui-danger-500);
}

/*=====       End of ErrorBoundary   ======*/
