/*=============================================
    #Variables
=============================================*/
/**
 * TABLE OF CONTENTS
 *
 * COLORS
 * Brand colors...................These are the main brand colors. They will be used the most
 * Neutral colors.................White and black, gray scale, secondary colors.
 * Utility colors.................Other colors to represent states: info, warning, success, etc.
 *
 * TYPOGRAPHY
 * Font families..................The fonts used in the design system.
 * Font weights...................Font weights
 * Sizes..........................Font sizing for body text, paragraphs, inputs
 * Heading sizes..................Font sizing for page headings
 *
 * BREAKPOINTS
 * Breakpoints....................Global responsive breakpoints definitions.
 *
 * SPACING
 * Spacing........................Global fixed set of spacing variables
 */
/*=============================================
=                  Colors                     =
=============================================*/
/* Brand Colors */
/* Neutral Colors */
/* Utility colors */
/*=====  End of Colors  ======*/
/*=============================================
=                Typography                   =
=============================================*/
/**
 *
 * 1) The playfair font. We'll use this for headings mostly.
 *     https://fonts.google.com/specimen/Playfair+Display
 *
 * 2) The raleway font. We'll use this for the body text.
 *     https://fonts.google.com/specimen/Raleway
 */
/* Font families */
/* 1 */
/* 2 */
/* Font sizes */
/* Heading font sizes */
/* Font weights */
/*=====  End of Typography  ======*/
/*=============================================
=            Breakpoints                      =
=============================================*/
/*=====  End of Breakpoints  ======*/
/*=============================================
=            Spacing                          =
=============================================*/
/*=====  End of Spacing  ======*/
/*=============================================
=            Foundation - colors              =
=============================================*/
/**
 * This file defines the actual colors that will be used for styling. They will default to the palette
 * we defined in the _variable.scss file. This is our default palette, and devs can override this
 * with their own variables.
 */
/*=============================================
=            Global text colors               =
=============================================*/
/*=============================================
=                 Buttons                     =
=============================================*/
/*=============================================
=                 Forms                       =
=============================================*/
.btn-primary {
  display: block;
  border: unset;
  padding: 6px 12px;
  background-color: #5ece7b;
  color: #222;
  font-weight: 700;
}
.btn-primary:hover {
  background-color: #9ee2b0;
  cursor: pointer;
}

/*=============================================
=                 Context Menu                =
=============================================*/
.kui-contextMenu-Container {
  background-color: #fff;
}

.kui-contextMenu {
  position: absolute;
  background-color: #fff;
  width: max-content;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}
@media (prefers-color-scheme: dark) {
  .kui-contextMenu {
    background-color: #1d1f22;
  }
}

.kui-contextMenu-Item {
  position: relative;
  border: unset;
  background-color: unset;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px 8px;
  color: #1d1f22;
  font-size: 14px;
  font-weight: 400;
}
.kui-contextMenu-Item:hover {
  cursor: pointer;
}
.kui-contextMenu-Item:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
@media (prefers-color-scheme: dark) {
  .kui-contextMenu-Item {
    color: #fff;
  }
  .kui-contextMenu-Item:hover {
    background-color: #737680;
  }
}

.kui-contextMenu-ItemIcon {
  display: flex;
  align-items: center;
}

.kui-contextMenu-Item_WithSubs {
  width: max-content;
  position: absolute;
}

/*=====        End of Context Menu      ======*/