/*=============================================
=               CSS RESETS                    =
=============================================*/
/**
 *
 * The normalize.css npm package improves browser rendering consistency.
 * https://necolas.github.io/normalize.css/
 */
/*=============================================
    #Variables
=============================================*/
/**
 * TABLE OF CONTENTS
 *
 * COLORS
 * Brand colors...................These are the main brand colors. They will be used the most
 * Neutral colors.................White and black, gray scale, secondary colors.
 * Utility colors.................Other colors to represent states: info, warning, success, etc.
 *
 * TYPOGRAPHY
 * Font families..................The fonts used in the design system.
 * Font weights...................Font weights
 * Sizes..........................Font sizing for body text, paragraphs, inputs
 * Heading sizes..................Font sizing for page headings
 *
 * BREAKPOINTS
 * Breakpoints....................Global responsive breakpoints definitions.
 *
 * SPACING
 * Spacing........................Global fixed set of spacing variables
 */
/*=============================================
=                  Colors                     =
=============================================*/
/* Primary color */
/* Neutral color */
/* Success color */
/* Danger color */
/* Warning color */
/*=====  End of Colors  ======*/
/*=============================================
=                Typography                   =
=============================================*/
/**
 *
 * 1) The playfair font. We'll use this for headings mostly.
 *     https://fonts.google.com/specimen/Playfair+Display
 *
 * 2) The raleway font. We'll use this for the body text.
 *     https://fonts.google.com/specimen/Raleway
 */
/* Font families */
/* 1 */
/* 2 */
/* Font sizes */
/* Heading font sizes */
/* Font weights */
/*=====  End of Typography  ======*/
/*=============================================
=            Breakpoints                      =
=============================================*/
/*=====  End of Breakpoints  ======*/
/*=============================================
=            Spacing                          =
=============================================*/
/*=====  End of Spacing  ======*/
:root {
  --dse-body-text-color: #000000;
  --dse-body-bg-color: #fff;
  --dse-btn-primary-color: #fbf6fd;
  --dse-btn-primary-bg: #7f3695;
  --dse-btn-primary-bg-hover: #9141ac;
  --dse-btn-secondary-color: #000000;
  --dse-btn-secondary-bg: #bdbdbd;
  --dse-form-color: #000000;
  --dse-form-bg: #fff;
  --dse-form-error-color: #ffc0c0;
  --dse-form-error-border: #ff2323;
  --dse-form-border-focus-color: #9141ac;
  --dse-body-font-size: 1rem;
  --dse-body-font-weight: 400;
  --dse-h1-font-size: 1.375rem;
  --dse-h2-font-size: 1.375rem;
  --dse-h3-font-size: 1rem;
  --dse-h4-font-size: 1.125rem;
  --dse-h5-font-size: 0.75rem;
  --dse-h6-font-size: 0.75rem;
  --dse-h1-font-weight: 500;
  --dse-h2-font-weight: 500;
  --dse-h3-font-weight: 500;
  --dse-h4-font-weight: 400;
  --dse-h5-font-weight: 400;
  --dse-h6-font-weight: 300;
}

/*=============================================
=        Foundation - Typography              =
=============================================*/
/**
 * This file defines the default font sizes to be used on headings and texts. The defaults come
 * from the palette defined in _variables.scss.
 */
/*=============================================
=            Body font family                  =
=============================================*/
/*=============================================
=            Body font sizes                  =
=============================================*/
/*=============================================
=            Heading font sizes               =
=============================================*/
/*=============================================
=            Head font weights                =
=============================================*/
/*=============================================
=            Mixins                           =
=============================================*/
/**
 *
 * Helpful reusable function-like things that will be used to implement
 * styles for components.
 *
 */
* {
  padding: unset;
}

.btn-primary {
  display: block;
  border: unset;
  padding: 6px 12px;
  background-color: #9141ac;
  color: #efefef;
  font-weight: 700;
}
.btn-primary:hover {
  background-color: #b364d1;
  cursor: pointer;
}
.btn-primary:disabled {
  background-color: #cc8fe3;
  cursor: progress;
}

/*=============================================
=                 Context Menu                =
=============================================*/
.kui-contextMenu-Container {
  background-color: #d70000;
}

.kui-contextMenu {
  position: absolute;
  background-color: #fff;
  width: max-content;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}
@media (prefers-color-scheme: dark) {
  .kui-contextMenu {
    background-color: #525252;
  }
}

.kui-contextMenu-Item {
  position: relative;
  border: unset;
  background-color: unset;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-inline-end: 10px;
  color: #3d3d3d;
  font-size: 0.9rem;
  font-weight: 400;
}
.kui-contextMenu-Item:hover {
  cursor: pointer;
  background-color: #dcdcdc;
}
@media (prefers-color-scheme: dark) {
  .kui-contextMenu-Item {
    color: #efefef;
  }
  .kui-contextMenu-Item:disabled {
    background-color: #464646;
    color: #656565;
    cursor: not-allowed;
  }
  .kui-contextMenu-Item:not(:disabled):hover {
    background-color: #656565;
  }
}

.kui-contextMenu-ItemIcon {
  min-width: 35px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #464646;
}

.kui-contextMenu_separator_container {
  position: relative;
  display: flex;
}

.kui-contextMenu_separator {
  height: 0.5px;
  margin-block: 8px;
  width: 100%;
  margin-inline: 10px;
  margin-block: 0px;
  background-color: #dcdcdc;
}

.kui-contextMenu_separator_icon {
  min-width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #464646;
}

.kui-contextMenu_group_title {
  font-size: 0.75rem;
  color: #7c7c7c;
  padding-inline: 10px;
  padding-top: 4px;
}

/*=====        End of Context Menu      ======*/
/*=============================================
=                     Menu                    =
=============================================*/
.kui-menu {
  position: relative;
  width: max-content;
  text-align: left;
}

.kui-menu-target {
  padding: 0.5rem 1rem;
  border: unset;
}

.kui-menu-dropdown {
  position: absolute;
  background: #464646;
  left: 0;
  top: calc(100% + 0.25rem);
  padding: 0.5rem;
}

.kui-menu-item {
  font-size: 1rem;
}

.kui-menu-label {
  font-size: 0.75rem;
}

/*=====            End of Menu         ======*/