/*=============================================
    #Variables
=============================================*/
/**
 * TABLE OF CONTENTS
 *
 * COLORS
 * Brand colors...................These are the main brand colors. They will be used the most
 * Neutral colors.................White and black, gray scale, secondary colors.
 * Utility colors.................Other colors to represent states: info, warning, success, etc.
 *
 * TYPOGRAPHY
 * Font families..................The fonts used in the design system.
 * Font weights...................Font weights
 * Sizes..........................Font sizing for body text, paragraphs, inputs
 * Heading sizes..................Font sizing for page headings
 *
 * BREAKPOINTS
 * Breakpoints....................Global responsive breakpoints definitions.
 *
 * SPACING
 * Spacing........................Global fixed set of spacing variables
 */
/*=============================================
=                  Colors                     =
=============================================*/
/* Primary color */
/* Neutral color */
/* Success color */
/* Danger color */
/* Warning color */
/*=====  End of Colors  ======*/
/*=============================================
=                Typography                   =
=============================================*/
/**
 *
 * 1) The playfair font. We'll use this for headings mostly.
 *     https://fonts.google.com/specimen/Playfair+Display
 *
 * 2) The raleway font. We'll use this for the body text.
 *     https://fonts.google.com/specimen/Raleway
 */
/* Font families */
/* 1 */
/* 2 */
/* Font sizes */
/* Heading font sizes */
/* Font weights */
/*=====  End of Typography  ======*/
/*=============================================
=            Breakpoints                      =
=============================================*/
/*=====  End of Breakpoints  ======*/
/*=============================================
=            Spacing                          =
=============================================*/
/*=====  End of Spacing  ======*/
* {
  padding: unset;
}

.btn-primary {
  display: block;
  border: unset;
  padding: 6px 12px;
  background-color: #9141ac;
  color: #efefef;
  font-weight: 700;
}
.btn-primary:hover {
  background-color: #b364d1;
  cursor: pointer;
}
.btn-primary:disabled {
  background-color: #cc8fe3;
  cursor: progress;
}

/*=============================================
=                 Context Menu                =
=============================================*/
.kui-contextMenu-Container {
  background-color: #d70000;
}

.kui-contextMenu {
  position: absolute;
  background-color: #fff;
  width: max-content;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}
@media (prefers-color-scheme: dark) {
  .kui-contextMenu {
    background-color: #525252;
  }
}

.kui-contextMenu-Item {
  position: relative;
  border: unset;
  background-color: unset;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-inline-end: 10px;
  color: #3d3d3d;
  font-size: 0.9rem;
  font-weight: 400;
}
.kui-contextMenu-Item:hover {
  cursor: pointer;
  background-color: #dcdcdc;
}
@media (prefers-color-scheme: dark) {
  .kui-contextMenu-Item {
    color: #efefef;
  }
  .kui-contextMenu-Item:disabled {
    background-color: #464646;
    color: #656565;
    cursor: not-allowed;
  }
  .kui-contextMenu-Item:not(:disabled):hover {
    background-color: #656565;
  }
}

.kui-contextMenu-ItemIcon {
  min-width: 35px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #464646;
}

.kui-contextMenu_separator_container {
  position: relative;
  display: flex;
}

.kui-contextMenu_separator {
  height: 0.5px;
  margin-block: 8px;
  width: 100%;
  margin-inline: 10px;
  margin-block: 0px;
  background-color: #dcdcdc;
}

.kui-contextMenu_separator_icon {
  min-width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #464646;
}

.kui-contextMenu_group_title {
  font-size: 0.75rem;
  color: #7c7c7c;
  padding-inline: 10px;
  padding-top: 4px;
}

/*=====        End of Context Menu      ======*/