/*=============================================
=               CSS RESETS                    =
=============================================*/
/**
 *
 * The normalize.css npm package improves browser rendering consistency.
 * https://necolas.github.io/normalize.css/
 */
/*=============================================
    #Variables
=============================================*/
/**
 * TABLE OF CONTENTS
 *
 * COLORS
 * Brand colors...................These are the main brand colors. They will be used the most
 * Neutral colors.................White and black, gray scale, secondary colors.
 * Utility colors.................Other colors to represent states: info, warning, success, etc.
 *
 * TYPOGRAPHY
 * Font families..................The fonts used in the design system.
 * Font weights...................Font weights
 * Sizes..........................Font sizing for body text, paragraphs, inputs
 * Heading sizes..................Font sizing for page headings
 *
 * BREAKPOINTS
 * Breakpoints....................Global responsive breakpoints definitions.
 *
 * SPACING
 * Spacing........................Global fixed set of spacing variables
 */
/*=============================================
=                  Colors                     =
=============================================*/
/* Primary color */
/* Neutral color */
/* Success color */
/* Danger color */
/* Warning color */
/*=====  End of Colors  ======*/
/*=============================================
=                Typography                   =
=============================================*/
/**
 *
 * 1) The playfair font. We'll use this for headings mostly.
 *     https://fonts.google.com/specimen/Playfair+Display
 *
 * 2) The raleway font. We'll use this for the body text.
 *     https://fonts.google.com/specimen/Raleway
 */
/* Font families */
/* 1 */
/* 2 */
/* Font sizes */
/* Heading font sizes */
/* Font weights */
/*=====  End of Typography  ======*/
/*=============================================
=            Breakpoints                      =
=============================================*/
/*=====  End of Breakpoints  ======*/
/*=============================================
=            Spacing                          =
=============================================*/
/*=====  End of Spacing  ======*/
:root {
  --dse-body-text-color: #000000;
  --dse-body-bg-color: #fff;
  --dse-btn-primary-color: #fbf6fd;
  --dse-btn-primary-bg: #7f3695;
  --dse-btn-primary-bg-hover: #9141ac;
  --dse-btn-secondary-color: #000000;
  --dse-btn-secondary-bg: #bdbdbd;
  --dse-form-color: #000000;
  --dse-form-bg: #fff;
  --dse-form-error-color: #ffc0c0;
  --dse-form-error-border: #ff2323;
  --dse-form-border-focus-color: #9141ac;
  --dse-body-font-size: 1rem;
  --dse-body-font-weight: 400;
  --dse-h1-font-size: 1.375rem;
  --dse-h2-font-size: 1.375rem;
  --dse-h3-font-size: 1rem;
  --dse-h4-font-size: 1.125rem;
  --dse-h5-font-size: 0.75rem;
  --dse-h6-font-size: 0.75rem;
  --dse-h1-font-weight: 500;
  --dse-h2-font-weight: 500;
  --dse-h3-font-weight: 500;
  --dse-h4-font-weight: 400;
  --dse-h5-font-weight: 400;
  --dse-h6-font-weight: 300;
}

/*=============================================
=        Foundation - Typography              =
=============================================*/
/**
 * This file defines the default font sizes to be used on headings and texts. The defaults come
 * from the palette defined in _variables.scss.
 */
/*=============================================
=            Body font family                  =
=============================================*/
/*=============================================
=            Body font sizes                  =
=============================================*/
/*=============================================
=            Heading font sizes               =
=============================================*/
/*=============================================
=            Head font weights                =
=============================================*/
/*=============================================
=            Mixins                           =
=============================================*/
/**
 *
 * Helpful reusable function-like things that will be used to implement
 * styles for components.
 *
 */
.kui-table {
  width: 100%;
  border: 1px solid #cc8fe3;
  border-collapse: collapse;
}

.kui-table-head {
  margin-bottom: 8px;
}

.kui-thead {
  background-color: #464646;
  color: white;
  width: 100%;
}

.kui-body {
  text-align: center;
}

.kui-tr {
  border: 1px solid #525252;
}

.kui-th {
  border: 1px solid #525252;
  padding-block: 0.5rem;
}

.kui-td {
  text-align: center;
  padding: 0.25rem;
  padding-block: 0.5rem;
  border: 1px solid #525252;
}