/*=============================================
    #Variables
=============================================*/

/**
 * TABLE OF CONTENTS
 *
 * COLORS
 * Brand colors...................These are the main brand colors. They will be used the most
 * Neutral colors.................White and black, gray scale, secondary colors.
 * Utility colors.................Other colors to represent states: info, warning, success, etc.
 *
 * TYPOGRAPHY
 * Font families..................The fonts used in the design system.
 * Font weights...................Font weights
 * Sizes..........................Font sizing for body text, paragraphs, inputs
 * Heading sizes..................Font sizing for page headings
 *
 * BREAKPOINTS
 * Breakpoints....................Global responsive breakpoints definitions.
 *
 * SPACING
 * Spacing........................Global fixed set of spacing variables
 */

/*=============================================
=                  Colors                     =
=============================================*/

/* Primary color */
$primary-color-50: #fbf6fd;
$primary-color-100: #f6ecfb;
$primary-color-200: #ecd8f6;
$primary-color-300: #deb9ee;
$primary-color-400: #cc8fe3;
$primary-color-500: #b364d1;
$primary-color-600: #9141ac;
$primary-color-700: #7f3695;
$primary-color-800: #692e7a;
$primary-color-900: #5a2a65;

/* Neutral color */
$neutral-color-50: #ffffff;
$neutral-color-100: #efefef;
$neutral-color-200: #dcdcdc;
$neutral-color-300: #bdbdbd;
$neutral-color-400: #989898;
$neutral-color-500: #7c7c7c;
$neutral-color-600: #656565;
$neutral-color-700: #525252;
$neutral-color-800: #464646;
$neutral-color-900: #3d3d3d;

/* Success color */
$success-color-50: #eafee7;
$success-color-100: #d1fbcc;
$success-color-200: #a6f89e;
$success-color-300: #6ff066;
$success-color-400: #2ae120;
$success-color-500: #1fca18;
$success-color-600: #12a10f;
$success-color-700: #107b10;
$success-color-800: #136113;
$success-color-900: #155217;

/* Danger color */
$danger-color-50: #fff0f0;
$danger-color-100: #ffdddd;
$danger-color-200: #ffc0c0;
$danger-color-300: #ff9494;
$danger-color-400: #ff5757;
$danger-color-500: #ff2323;
$danger-color-600: #ff0000;
$danger-color-700: #d70000;
$danger-color-800: #b10303;
$danger-color-900: #920a0a;

/* Warning color */
$warning-color-50: #fff9ec;
$warning-color-100: #fff0d3;
$warning-color-200: #ffdea5;
$warning-color-300: #ffc66d;
$warning-color-400: #ffa132;
$warning-color-500: #ff840a;
$warning-color-600: #e66100;
$warning-color-700: #cc4d02;
$warning-color-800: #a13c0b;
$warning-color-900: #82330c;

$black: #000000;
$white: #fff;

/*=====  End of Colors  ======*/

/*=============================================
=                Typography                   =
=============================================*/

/**
 *
 * 1) The playfair font. We'll use this for headings mostly.
 *     https://fonts.google.com/specimen/Playfair+Display
 *
 * 2) The raleway font. We'll use this for the body text.
 *     https://fonts.google.com/specimen/Raleway
 */

/* Font families */

$spaceGrotesk: "Space Grotesk", serif; /* 1 */
$raleway: "Raleway", "HelveticaNeue", "Helvetica", sans-serif; /* 2 */

/* Font sizes */
$fs-xs: 0.75rem; // 12px
$fs-sm: 0.875rem; // 14px
$fs-base: 1rem; // 16px
$fs-lg: 1.125rem; // 18px
$fs-xl: 1.5rem; // 24px

$fs: (
  xs: 0.75rem,
  sm: 0.875rem,
  base: 1rem,
  lg: 1.125rem,
  xl: 1.5rem,
);

/* Heading font sizes */
$h-1: 1.375rem; // 22px
$h-2: 1.375rem; // 22px
$h-3: 1rem; // 16px
$h-4: 1.125rem; // 18px
$h-5: 0.75rem; // 12px
$h-6: 0.75rem; // 12px

/* Font weights */

$fw-light: 300;
$fw-normal: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-extrabold: 800;
$fw-black: 900;

/*=====  End of Typography  ======*/

/*=============================================
=            Breakpoints                      =
=============================================*/

$breakpoints: (
  md: 48rem,
  // 768px
  lg: 64rem,
  // 1024px
  xl: 80rem,
  // 1280px
);

/*=====  End of Breakpoints  ======*/

/*=============================================
=            Spacing                          =
=============================================*/

$spacing: (
  none: 0rem,
  xxxs: 0.25rem,
  // 4px
  xxs: 0.5rem,
  // 8px
  xs: 0.75rem,
  // 12px
  sm: 1rem,
  // 16px
  md: 1.5rem,
  // 24px
  lg: 2rem,
  // 32px
  xl: 3rem,
  // 48px
  xxl: 4.5rem,
  // 72px
  xxxl: 6rem,
  // 96px
) !default;

$shadows: (
  base: 0px 4px 11px rgba(157, 157, 157, 0.21),
);

/*=====  End of Spacing  ======*/
