/*------------------------------------*\
    TABLE OF CONTENTS
\*------------------------------------*/

/**
 *
 * FOUNDATIONS................................................
 * BASE.......................................................
 */

/*=============================================
 =                   Foundations               =
 =============================================*/

@use "./foundation/variables" as *;
@use "./foundation/colors" as *;
@use "./foundation/typography" as *;
@use "./foundation/mixins" as *;

/*==============================================
=                   Base                       =
==============================================*/
@use "base/reset";
@use "base/root";

body {
  font-family: $body-font-family;
  font-size: $body-font-size;
  font-weight: $body-font-weight;
  background-color: $red-light;
}
