/*------------------------------------*\
TABLE OF CONTENTS
\*------------------------------------*/

/**
*
* FOUNDATIONS................................................
* BASE.......................................................
*/

/*=============================================
=                   Foundations               =
=============================================*/

@use "foundation/variables" as *;
@use "foundation/colors" as *;
@use "foundation/typography" as *;
@use "foundation/mixins" as *;

/*==============================================
=                   Base                       =
==============================================*/
@use "base/reset";
@use "base/root";

@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

body {
  font-family: $body-font-family;
  font-size: $body-font-size;
  font-weight: $body-font-weight;
  background-color: $danger-color-500 !important;
}
