@use "foundation/variables" as *;
@use "foundation/colors" as *;

.btn-primary {
  display: block;
  border: unset;
  padding: 6px 12px;
  background-color: $green;
  color: #222;
  font-weight: 700;

  &:hover {
    background-color: $green-light;
    cursor: pointer;
  }
}

/*=============================================
=                 Context Menu                =
=============================================*/

.kui-contextMenu-Container {
  background-color: $white;
}

.kui-contextMenu {
  position: absolute;
  background-color: $white;
}

.kui-contextMenu-Item {
  position: relative;
  border: unset;
  background-color: unset;
  width: 100%;

  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px 8px;

  color: $dark;
  font-size: 14px;
  font-weight: 400;

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.kui-contextMenu-ItemIcon {
  display: flex;
  align-items: center;
}

.kui-contextMenu-Item_WithSubs {
  width: max-content;
  position: absolute;
  left: 100%;
  top: 0;
  transform: translateX(4px);
}

/*=====        End of Context Menu      ======*/
