@use "foundation/variables" as *;
@use "foundation/colors" as *;

* {
  padding: unset;
}

.btn-primary {
  display: block;
  border: unset;
  padding: 6px 12px;
  background-color: $primary-color-600;
  color: $neutral-color-100;
  font-weight: 700;

  &:hover {
    background-color: $primary-color-500;
    cursor: pointer;
  }

  &:disabled {
    background-color: $primary-color-400;
    cursor: progress;
  }
}

/*=============================================
=                 Context Menu                =
=============================================*/

.kui-contextMenu-Container {
  background-color: $danger-color-700;
}

.kui-contextMenu {
  position: absolute;
  background-color: $white;
  width: max-content;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);

  @media (prefers-color-scheme: dark) {
    & {
      background-color: $neutral-color-700;
    }
  }
}

.kui-contextMenu-Item {
  position: relative;
  border: unset;
  background-color: unset;
  width: 100%;
  // padding-block: 6px;
  // min-height: 30px;

  display: flex;
  align-items: center;
  gap: 10px;
  padding-inline-end: 10px;

  color: $neutral-color-900;
  font-size: 0.9rem;
  font-weight: 400;

  &:hover {
    cursor: pointer;
    background-color: $neutral-color-200;
  }

  @media (prefers-color-scheme: dark) {
    & {
      color: $neutral-color-100;
    }

    &:disabled {
      background-color: $neutral-color-800;
      color: $neutral-color-600;
      cursor: not-allowed;
    }

    &:not(:disabled):hover {
      background-color: $neutral-color-600;
    }
  }
}

.kui-contextMenu-ItemIcon {
  min-width: 35px;
  // aspect-ratio: 1/1;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $neutral-color-800;
}

.kui-contextMenu_separator_container {
  position: relative;
  display: flex;
}

.kui-contextMenu_separator {
  height: 0.5px;
  margin-block: 8px;
  width: 100%;
  margin-inline: 10px;
  margin-block: 0px;
  background-color: $neutral-color-200;
}

.kui-contextMenu_separator_icon {
  min-width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $neutral-color-800;
}

.kui-contextMenu_group_title {
  font-size: $fs-xs;
  color: $neutral-color-500;
  padding-inline: 10px;
  padding-top: 4px;
}
/*=====        End of Context Menu      ======*/
