/*=============================================
=                    Button                   =
=============================================*/

.btn-primary {
  display: block;
  border: unset;
  padding: var(--kui-spacing-sm) var(--kui-spacing-md);
  background-color: var(--kui-primary-color);
  color: white;
  font-weight: 700;

  &:hover {
    background-color: cyan;
    cursor: pointer;
  }

  &:disabled {
    background-color: red;
    cursor: progress;
  }
}

/*=====           End of Button        ======*/
